@font-face {
    font-family: 'Montserrat';
    src: url('../assets/font/Montserrat-ThinItalic.woff2') format('woff2'),
        url('../assets/font/Montserrat-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../assets/font/MontserratAlternates-ThinItalic.woff2') format('woff2'),
        url('../assets/font/MontserratAlternates-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/font/Montserrat-ExtraLightItalic.woff2') format('woff2'),
        url('../assets/font/Montserrat-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/font/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../assets/font/Montserrat-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/font/Montserrat-SemiBold.woff2') format('woff2'),
        url('../assets/font/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../assets/font/MontserratAlternates-SemiBold.woff2') format('woff2'),
        url('../assets/font/MontserratAlternates-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../assets/font/MontserratAlternates-ExtraBold.woff2') format('woff2'),
        url('../assets/font/MontserratAlternates-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/font/Montserrat-Regular.woff2') format('woff2'),
        url('../assets/font/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/font/Montserrat-Thin.woff2') format('woff2'),
        url('../assets/font/Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../assets/font/MontserratAlternates-Italic.woff2') format('woff2'),
        url('../assets/font/MontserratAlternates-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../assets/font/MontserratAlternates-Thin.woff2') format('woff2'),
        url('../assets/font/MontserratAlternates-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/font/Montserrat-MediumItalic.woff2') format('woff2'),
        url('../assets/font/Montserrat-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../assets/font/MontserratAlternates-Black.woff2') format('woff2'),
        url('../assets/font/MontserratAlternates-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/font/Montserrat-Medium.woff2') format('woff2'),
        url('../assets/font/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/font/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
        url('../assets/font/Montserrat-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../assets/font/MontserratAlternates-ExtraBoldItalic.woff2') format('woff2'),
        url('../assets/font/MontserratAlternates-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/font/Montserrat-BoldItalic.woff2') format('woff2'),
        url('../assets/font/Montserrat-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/font/Montserrat-BlackItalic.woff2') format('woff2'),
        url('../assets/font/Montserrat-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../assets/font/MontserratAlternates-Light.woff2') format('woff2'),
        url('../assets/font/MontserratAlternates-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../assets/font/MontserratAlternates-SemiBoldItalic.woff2') format('woff2'),
        url('../assets/font/MontserratAlternates-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/font/Montserrat-ExtraLight.woff2') format('woff2'),
        url('../assets/font/Montserrat-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../assets/font/MontserratAlternates-BoldItalic.woff2') format('woff2'),
        url('../assets/font/MontserratAlternates-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../assets/font/MontserratAlternates-Bold.woff2') format('woff2'),
        url('../assets/font/MontserratAlternates-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/font/Montserrat-SemiBoldItalic.woff2') format('woff2'),
        url('../assets/font/Montserrat-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../assets/font/MontserratAlternates-Regular.woff2') format('woff2'),
        url('../assets/font/MontserratAlternates-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/font/Montserrat-LightItalic.woff2') format('woff2'),
        url('../assets/font/Montserrat-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/font/Montserrat-Black.woff2') format('woff2'),
        url('../assets/font/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../assets/font/MontserratAlternates-LightItalic.woff2') format('woff2'),
        url('../assets/font/MontserratAlternates-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates ExLight';
    src: url('../assets/font/MontserratAlternates-ExtraLightItalic.woff2') format('woff2'),
        url('../assets/font/MontserratAlternates-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../assets/font/MontserratAlternates-Medium.woff2') format('woff2'),
        url('../assets/font/MontserratAlternates-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../assets/font/MontserratAlternates-MediumItalic.woff2') format('woff2'),
        url('../assets/font/MontserratAlternates-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../assets/font/MontserratAlternates-BlackItalic.woff2') format('woff2'),
        url('../assets/font/MontserratAlternates-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/font/Montserrat-Italic.woff2') format('woff2'),
        url('../assets/font/Montserrat-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/font/Montserrat-Bold.woff2') format('woff2'),
        url('../assets/font/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates ExLight';
    src: url('../assets/font/MontserratAlternates-ExtraLight.woff2') format('woff2'),
        url('../assets/font/MontserratAlternates-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/font/Montserrat-Light.woff2') format('woff2'),
        url('../assets/font/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

