@font-face {
    font-family: '#{$wb-font-family}';
    src:  url('#{$wb-font-path}/#{$wb-font-family}.eot?713g3o');
    src:  url('#{$wb-font-path}/#{$wb-font-family}.eot?713g3o#iefix') format('embedded-opentype'),
      url('#{$wb-font-path}/#{$wb-font-family}.ttf?713g3o') format('truetype'),
      url('#{$wb-font-path}/#{$wb-font-family}.woff?713g3o') format('woff'),
      url('#{$wb-font-path}/#{$wb-font-family}.svg?713g3o##{$wb-font-family}') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="wb-icon-"], [class*=" wb-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '#{$wb-font-family}' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .wb-icon-Apparel {
    &:before {
      content: $wb-icon-Apparel; 
    }
  }
  .wb-icon-Beach-Flag {
    &:before {
      content: $wb-icon-Beach-Flag; 
    }
  }
  .wb-icon-Beverages-Cooler {
    &:before {
      content: $wb-icon-Beverages-Cooler; 
    }
  }
  .wb-icon-Cork-Coaster {
    &:before {
      content: $wb-icon-Cork-Coaster; 
    }
  }
  .wb-icon-Custom-Mug {
    &:before {
      content: $wb-icon-Custom-Mug; 
    }
  }
  .wb-icon-Events {
    &:before {
      content: $wb-icon-Events; 
    }
  }
  .wb-icon-Fabric-Wristbands {
    &:before {
      content: $wb-icon-Fabric-Wristbands; 
    }
  }
  .wb-icon-home {
    &:before {
      content: $wb-icon-home; 
    }
  }
  .wb-icon-Lanyards--Badge {
    &:before {
      content: $wb-icon-Lanyards--Badge; 
    }
  }
  .wb-icon-Non-Woven-Tote-Bag {
    &:before {
      content: $wb-icon-Non-Woven-Tote-Bag; 
    }
  }
  .wb-icon-Pin-Badge {
    &:before {
      content: $wb-icon-Pin-Badge; 
    }
  }
  .wb-icon-Silicone-Wristbands {
    &:before {
      content: $wb-icon-Silicone-Wristbands; 
    }
  }
  .wb-icon-Tyvek-Wristbands {
    &:before {
      content: $wb-icon-Tyvek-Wristbands; 
    }
  }
  .wb-icon-qucik-contact {
    &:before {
      content: $wb-icon-qucik-contact;     
      color: #777;
    }
  }
  .wb-icon-search {
    &:before {
      content: $wb-icon-search;     
      color: #777;
    }
  }
  .wb-icon-arrow-bottom {
    &:before {
      content: $wb-icon-arrow-bottom; 
    }
  }
  .wb-icon-arrow-top {
    &:before {
      content: $wb-icon-arrow-top; 
    }
  }
  .wb-icon-arrow-right {
    &:before {
      content: $wb-icon-arrow-right; 
    }
  }
  .wb-icon-arrow-left {
    &:before {
      content: $wb-icon-arrow-left; 
    }
  }
  .wb-icon-cart {
    &:before {
      content: $wb-icon-cart; 
    }
  }
  .wb-icon-main-menu {
    &:before {
      content: $wb-icon-main-menu; 
    }
  }
  .wb-icon-menu2 {
    &:before {
      content: $wb-icon-menu2; 
    }
  }