/* Icon Variables ****************************************************************************************************/

$wb-font-family: "SG-Icons" !default;
$wb-font-path: "../fonts" !default;

$wb-icon-Apparel: "\e900";
$wb-icon-Beach-Flag: "\e901";
$wb-icon-Beverages-Cooler: "\e902";
$wb-icon-Cork-Coaster: "\e903";
$wb-icon-Custom-Mug: "\e904";
$wb-icon-Events: "\e905";
$wb-icon-Fabric-Wristbands: "\e906";
$wb-icon-home: "\e907";
$wb-icon-Lanyards--Badge: "\e908";
$wb-icon-Non-Woven-Tote-Bag: "\e909";
$wb-icon-Pin-Badge: "\e90a";
$wb-icon-Silicone-Wristbands: "\e90b";
$wb-icon-Tyvek-Wristbands: "\e90c";
$wb-icon-qucik-contact: "\e90d";
$wb-icon-search: "\e90e";
$wb-icon-arrow-bottom: "\e911";
$wb-icon-arrow-top: "\e912";
$wb-icon-arrow-right: "\e90f";
$wb-icon-arrow-left: "\e910";
$wb-icon-cart: "\e913";
$wb-icon-main-menu: "\e914";
$wb-icon-menu2: "\e915";

/* Design Variables ****************************************************************************************************/

$bg-color: #fff;
$font-liberation: 'Liberation Sans';
$font-source: 'Source Sans Pro', sans-serif;
$topbar-bg-color: #9b9999;
$sgMenu-bg-color: #f6f6f6;
$rightBar-bg-color: #f0f0f0;
$product-text-color: #434040;
$heading-text-color: #807c7c;
$menu-text-color: #9f9999;
$menu-icon-size: 30px;
$menu-icon-color: #777777;